{% extends 'base.html' %}
{% block content %}
<form method="" name="NewPaste" id="submission"\>
  {{ form.hidden_tag() }} &nbsp;
  Burn after read: {{ form.burnAfterRead() }} &nbsp;
  Expires: {{ form.selfDestructTime(class='expire') }}
<input 
    value="Submit" class="submit" type="button" id="submit"><br><br>
    <a id="link" href="#"></a>
<!-- <div class=paste><textarea name=paste rows=40></textarea></div> -->
{{ form.pasteText(rows='40', readonly=false, id="text")}}
<!-- Should be in a separate file-->
{{ form.nonce() }}
</form>
<script type="text/javascript" nonce="{{ nonce }}">
  enableTab()
  document.getElementById("submit").onclick = function(e) {
    subenc();
    this.disabled = true;
  }
</script>
{% endblock %}
