{% extends 'base.html' %}
{% block content %}
<input type="button" name="clone" value="Clone" onclick="clone()"
    style="display: block" class="submit" id="clone">
<!-- this is for the clone feature -->
<form method="" name="NewPaste" id="submission"\>
  {{ form.hidden_tag() }}
<input onclick="subenc(); this.disabled=true" id="submit"
    value="Submit" class="submit" type="button" style="display: none" ><br><br>
    <a style="display: none;word-wrap: break-word" id="link" href="#"></a>
<!-- <div class=paste><textarea name=paste rows=40></textarea></div> -->
{{ form.pasteText(rows='40', onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}", readonly=false, id="text", style='display: none')}}
<!-- Should be in a separate file-->
{{ form.nonce() }}
</form>
<pre class="formated" id="decpaste" style="display: block"></pre>
<br>
<!-- the download button. move somewhere new soon -->
<a href="" id="dwnld">Download for text</a>
<!-- yes, inline script is bad -->
<script type="text/javascript">
    var hashkey = window.location.hash.substr(1);
    decrypt({{ entry.paste_text|tojson|safe }}, hashkey, {{ entry.nonce|tojson|safe }});
</script>
{% endblock %}
