<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Confirm</title>
    <link rel="stylesheet" href="/static/first.css">
  </head>
  <body>
    <p>The page you are about to access could contain active javascript.
    This could lead to security issues, but js is nessicary for many visual and interactive elements.</p>
    <form class="" action="" method="post">
      <a href="/html/{{pid}}" class="button">without js</a>
      <input type="submit" name="action" value="confirmed" class="button">

    </form>
  </body>
</html>
